<?xml version="1.0" encoding="UTF-8"?>
<configuration status="error" strict="true">
    <appenders>
        <appender name="sout" type="Console">
            <layout type="PatternLayout" pattern="%d{yyyy-MM-dd HH:mm:ss} [%p]-[%t]-[%l] %m%n"/>
        </appender>
    </appenders>


    <loggers>
        <root level="debug">
            <appender-ref ref="sout"/>
        </root>
    </loggers>

</configuration>